@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "Error";
}

<title>Error - Dream League Soccer</title>


<h2 class="cover-heading">ERROR</h2>
<p class="lead">An error occurred while processing your request.</p>
<p class="lead">
    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary">RETURN HOME</a>
</p>

