@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "AddClub";
}


<title>Add Club - Dream League Soccer</title>


<h2 class="cover-heading">ADD CLUB</h2>

@Html.Partial("FormBasedPartialView")
        

