@model Clubs
@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "AddClub";
}


<title>Add Club - Dream League Soccer</title>


<h2 class="cover-heading">ADD CLUB</h2>

<form asp-action="AddClub" method="post">
    <input type="hidden" asp-for="createdBy" value="@User.Identity.Name" />
    @await Html.PartialAsync("FormBasedPartialView")
    <button class="btn btn-lg btn-secondary" type="submit">SAVE</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary">CANCEL</a>

</form>


