@model IEnumerable<Clubs>

@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "Clubs";
}

    <title>Clubs - Dream League Soccer</title>


    <h2 class="cover-heading">CLUBS</h2>

    <table class="table table-dark" border="1">
        <thead>
            <tr>
                <th scope="col">Club Name</th>
                <th scope="col">More Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Clubs c in Model)
            {
            <tr>
                <td>@c.ClubName</td>
                <td>
                <a asp-controller="Clubs" asp-action="ClubDetails" asp-route-ClubId="@c.ClubID">View</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
