
@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "Features";
}

<title>Features - Dream League Soccer</title>


<h2 class="cover-heading">FEATURES</h2>

<table class="table table-dark" border="1">

    <tr>
        <td>Reassign players. <span class="badge badge-secondary">New</span></td>
    </tr>

    <tr>
        <td>Deregister players. <span class="badge badge-secondary">New</span></td>
    </tr>

    <tr>
        <td>Uptime Service. <span class="badge badge-secondary">New</span></td>
    </tr>

    <tr>
        <td>Content Middleware. <span class="badge badge-secondary">New</span></td>
    </tr>

    <tr>
        <td>Short Circuit Middleware. <span class="badge badge-secondary">New</span></td>
    </tr>

    <tr>
        <td>Browser Type Middleware. <span class="badge badge-secondary">New</span></td>
    </tr>

    <tr>
        <td>Error Middleware. <span class="badge badge-secondary">New</span></td>
    </tr>

</table>

