@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "Index";
}

<title>Home - Dream League Soccer</title>


<h2 class="cover-heading">THE #1 SOCCER CLUB HANDLER!</h2>
<p class="lead">This website is the #1 website according to google where you are able to handle your clubs. Our system is so advanced and is being used by all the top clubs in the world.</p>
<p class="lead">
    <a asp-controller="Clubs" asp-action="AddClub" class="btn btn-lg btn-secondary">ADD CLUB</a>
    <a asp-controller="Home" asp-action="Features" class="btn btn-lg btn-secondary">FEATURES</a>
</p>

